@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Fusi', sans-serif ;
}

.nav_link:hover {
  text-decoration: underline;
}

.nav_link-btn:hover,
.btn-input:hover,
.btn_b:hover {
  background: linear-gradient(rgb(242, 239, 244) 0%, rgb(186, 140, 247));
  color: rgb(138, 43, 226);
}

p {
  font-size: 20px;
 }

.head {
  display: flex;
  justify-content: center;
  font-size: 48px;
}
.para {
  line-height: 1.5;
  
  text-align: center;
  
}

.f_para {
  width: 40%;
  padding-top: 24px;
  display: flex;
  margin: 0 auto;
  color: #838688;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

section {
  padding: 0 32px;
  display: block;
  unicode-bidi: isolate;
}

.section_title {
  margin-bottom: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    margin-top: 20px;
  }

  .nav_link {
    border-bottom: 2px solid transparent;
  }
  
  .nav_link--list {
    list-style-type: none;
    margin: 0 12px;
    gap: 40px;
    font-size: 16px;
    position: relative;
    transition: all 300ms;
  }
  
  .logo-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav_link-btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border: solid 1px black;
    border-radius: 9999px;
    background: linear-gradient(rgb(152, 65, 229) 0%, rgb(229, 200, 252));
    color:aliceblue;
    line-height: 1.5;
    transition: all 300ms;
  }

  .now_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-wrapper {
    max-width: 50px;
  }
  
  .logo-img {
    width: 100%;
  }
  
  ul {
    display: flex;
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
  }

 

.purple {
    color:rgb(124, 0, 233);
}

 .email_wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.landing-input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(179, 179, 179);
  padding: 20px 192px 20px 170px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.btn-input {
  display: flex;
  align-items: center;
}

#email {
  margin-top: 50px;
  margin-bottom: 150px;
}
 
 input,
 button {
  padding: 12px 80px;
  border-radius: 35px;
  margin-top: 15px;
  }

button {
 
  cursor: pointer;
  font-weight: bolder;
  
}

.customers {
  color: gray;
}



.btn-input {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin: 4px;
  height: calc(100% - 16px);
  border-radius: 500px;
  border: solid 1px rgb(16, 3, 28);
  width: 160px;
  background: linear-gradient(rgb(152, 65, 229) 0%, rgb(229, 200, 252));
  color: white;
  font-weight: 700;
  font-size: 14px;
  transition: all 300ms;
}

.btn_b {
  background: linear-gradient(rgb(152, 65, 229) 0%, rgb(248, 248, 248));
  color: white;
  transition: all 300ms;
}



.design-ill {
  width: 100%;
}

.logo_strip {
  width: 80%;
  padding-top: 24px;
  
}

.container {
  display: flex;
}

.landing-row {
  display: flex;
}

.landing_image {
  width: 50%;
}

.landing_wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.image_wrapper {
  width: 50%;
}

span {
  font-weight:bolder;
   
}

.para_2 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 900;
}

.para_3 {
  font-size: 48px;
  font-weight: 900;
}

.fea_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: calc(100% / 3);
  padding: 24px 32px;
}

.feature_title {
  display: flex;
  justify-content: center;
}

.imgcontainer {
  border: 2px solid rgb(229, 224, 224);
  padding: 16px;
  border-radius: 50px;

}

.textcontainer {
  width: 100%;
  text-align: left;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.textcontainer__para {
  margin-top: 12px;
  color: gray;
  line-height: 1.8;
}

.qua_wrapper {
  flex-direction: row;
}

.qua_title {
  padding-top: 80px;
  font-size: 16px;
}

.hero-1 {
  width: 100%;
}

.qua_row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
 
.qua_wrapper {
  width:100%;
  display: flex;
}

.hero-1_wrapper {
  padding: 80px;
  width: 180%;
}

.stp_container {
  width: 100%;
  
}

.v_img--wrapper {
  display: flex;
}

.stp_num {
  color: #acb0b4;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
 
}

.stp {
  display: flex;
  padding-top: 24px;
  line-height: 1.5;
}

.stp_description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.stp_row {
  display: flex;
}

.v_container {
  padding: 96px 0;
  display: flex;
}

.v_row {
  display: flex;
  
}

.v_img {
  width: 100%;
  
}

.v_description{
  max-width: 50%;
}

.val_para {
  padding-top: 36px;
}

.val_wrapper {
  display: flex;
  
}

.v_para {
  padding: 24px;
  padding-right: 15px;
}

.v_title {
  padding-top: 36px;
}

.p_container {
  padding: 96px 0;
}

#price .p_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.p_container {
  width: 100%;
}

.p_row {
  display: flex;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.p_para {
  width: 40%;
  max-width: 500px;
  text-align: center;
}



.row {
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto;
}

.plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 100;
}

.plan {
  padding: 25px;
  margin: 0 24px;
}

.plan_head--p {
  background: linear-gradient(rgb(11, 205, 223) 0%, rgb(252, 254, 255) 97%, cyan);
  margin:  48px -30px;
  border-radius: 10px;
  padding-bottom: 24px;
  padding: 48px;
}

.plan_head--b {
  background: linear-gradient(rgb(84, 78, 254) 0%, rgb(255, 255, 255) 97%, rgb(80, 80, 254));
  margin:  48px -30px;
  border-radius: 10px;
  padding-bottom: 24px;
  padding: 48px;
}

.plan_head--e {
  background: linear-gradient(rgb(255, 7, 77) 0%, rgb(248, 248, 248) 97%, rgb(255, 0, 102));
  margin:  48px -30px;
  border-radius: 10px;
  padding-bottom: 24px;
  padding: 48px;
}

.land_plan {
  border-radius: 10px;
  padding-bottom: 24px;
  padding: 28px;
  margin-left: 28px;
}

.btn_plan--p,
.btn_plan--b,
.btn_plan--e {
  padding-top: 36px;
  border-radius: 10px;
}

.btn_p {
  background: linear-gradient(rgb(11, 205, 223) 0%, rgb(252, 254, 255));
  margin-left: 28px;
  
}

.btn_bus {
  background: linear-gradient(rgb(73, 67, 254) 0%, rgb(255, 255, 255));
  margin-left: 28px;
  
}

.btn_e {
  background: linear-gradient(rgb(255, 7, 77) 0%, rgb(248, 248, 248));
  margin-left: 30px;
  
}

.btn_plan:hover,
.btn_p,
.btn_bus,
.btn_e {
  transform: scale(1.05);
  transition: all 300ms;
}

.plan_p {
  display: flex;
  justify-content: center;
  margin: 40px;
  font-size: 36px;
  
}

.plan_pri {
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.plan_mon {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #4a4b4c;
  font-weight: bold;
}

.plan_type {
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding: 24px;
}

.plan_f {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #414141;
  font-weight: bold;
}

.t_container {
  padding: 96px 0;
  content: 100%;
}

.t_row {
  display: flex;
  margin: 0 24px;
}

.testi_img {
width: 50%;
}

.testi_discription {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
}

.testi_details {
  padding-left: 24px;
}

.testi_rating  {
  padding-top: 24px;
  color: yellow;
  margin-right: 2px;
  margin-top: 4px;
}

.testi_title {
  padding-top: 24px;
}

.testi_para {
  margin: 16px 0 40px 0;
  color: gray;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.testi_profile {
  display: flex;
}



.testi_name {
  font-weight:700;
  color: #243e63;
  font-size: 20px;
  line-height: 1.5;
}

.testi_role {
  color: #838688;
}

.tes_img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.testi_btn {
  display: flex;
  align-items: center;
  
}

.left_btn,
.right_btn {
  border: none;
  color: blueviolet;
  width: 10px;
  height: 10px;
}

.start_container {
  padding: 96px 0;
  width: 85%;
  margin: 0 auto;
  background: linear-gradient(rgb(100, 42, 225) 0%, white);
  border-radius: 8px;
  margin-bottom: 48px;
}

.start_row {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.start_title {
  font-size: 24px;
  color: whitesmoke;
  width: 100%;
  max-width: 512px;
  font-weight: 100;
  line-height: 1.5;
  z-index: 2;
}

.start_btn {
  background-color: red;
  color: whitesmoke;
  border: solid 1px  whitesmoke;
  padding: 20px 36px;
  font-size: 18px;
}
.start_btn:hover {
  background-color: rgb(237, 69, 69);
  transition: all 400ms;
}

.contact_btn {
  background-color: rgb(86, 43, 226);
  color: whitesmoke;
  border: solid 1px  whitesmoke;
  padding: 20px 36px;
  font-size: 18px;
}

.contact_btn:hover {
  background-color: rgb(104, 67, 224);
  transition: all 400ms ease;
}

.sta-cont_buttons:hover .start_btn  {
  transition: all 300ms ease;
}

.start_row {
  position: relative;
  overflow: hidden;
}

footer {
  padding: 100px 32px;
  background-color: rgb(100, 42, 225);
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footer_columns {
 margin-top: -48px;
 justify-content: space-between;
 display: flex;
 flex-wrap: wrap;
}

.footer_column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2
}

.footer_column--title {
  color: whitesmoke;
  justify-content: center;
  font-weight: bolder;
}

.footer_column--link {
  color: whitesmoke;
  padding-top: 24px;
  line-height: .7;
  position: relative;
  cursor: pointer;
  }

  .footer_column--link:hover {
    text-decoration: underline;
    }

a {
  display: inline;
  text-decoration: none;
}

.footer_div {
  width: 100%;
  height: 2px;
  margin: 44px 0;
  background: rgb(100, 42, 225);
}

.footer_logo {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
}

.footer_logo-text {
  font-size: 20px;
  color: whitesmoke;
  font-weight: 700;
  margin-left: -380px;
  letter-spacing: 0.05em;
}


  .footer_copyright {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    color: whitesmoke;
}

.footer_btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_social-link {
  width: 70px;
  color: rgb(35, 5, 117);
  font-size: 36px;
  cursor: pointer;
}



















